.wrapper {
	min-height: 100dvh;
	display: grid;
	place-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.container {
	max-width: 768px;
	padding: 0 1.25em;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
.tittle {
	font-size: 38px;
	color: white;
	text-align: center;
	text-shadow: 3px 3px 1px #00000050;
	margin: 0;
}
.container__card {
	display: flex;
	position: relative;
}
.card {
	max-width: 600px;
	min-width: 334px;
	height: 150px;
	background-image: url('/rectangle.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	display: grid;
	place-content: center;
	z-index: 1;
	animation: text-cookie 2s linear both;
	animation-delay: 0.4s;
}

.cookie {
	max-width: 200px;
	height: 300px;
	position: absolute;
	z-index: 2;
	filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.5));
}
.one {
	left: -110px;
	top: -33px;
	animation: one-cookie 2s linear forwards;
}
.two {
	right: -110px;
	top: -33px;
	animation: two-cookie 2s linear forwards;
}

@keyframes one-cookie {
	0% {
		left: 43px;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	100% {
		transform: translateX(-5px);
	}
}
@keyframes two-cookie {
	0% {
		right: 42px;
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	100% {
		transform: translateX(5px);
	}
}
.card__body {
	padding: 0 1.25em;
}
@keyframes text-cookie {
	0% {
		-webkit-transform: scaleX(0.3);
		transform: scaleX(0.3);
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}
.animate {
	animation: one-animate 1.5s linear forwards;
}
.animate1 {
	animation: two-animate 1.5s linear forwards;
}
.animate2 {
	animation: text-animate 1.5s linear both;
}
@keyframes text-animate {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleX(0.3);
		transform: scaleX(0.3);
		opacity: 0;
	}
}
@keyframes one-animate {
	0% {
		transform: translateX(-5px);
		opacity: 1;
	}
	100% {
		left: 43px;
		opacity: 0;
	}
}
@keyframes two-animate {
	0% {
		transform: translateX(5px);
		opacity: 1;
	}
	100% {
		right: 42px;
		opacity: 0;
	}
}
.card__body {
	padding: 0 1.25em;
}

.card__text {
	font-size: 15px;
	margin: 0;
	color: #333;
	text-align: center;
}

.card__quote {
	font-size: 24px;
	color: #ccc;
}
.btn {
	width: fit-content;
	margin: 0 auto;
	padding: 0.5em 1.75em;
	background-color: #ffffff50;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 2px solid white;
	border-radius: 8px;
	cursor: pointer;
}
.btn:hover {
	background-color: #ffffff7e;
}

@media (min-width: 768px) {
	.tittle {
		font-size: 58px;
	}
	.card {
		min-width: 550px;
	}
	@keyframes one-cookie {
		0% {
			left: 160px;
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			transform: translateX(-5px);
		}
	}
	@keyframes two-cookie {
		0% {
			right: 161px;
			opacity: 0;
		}
		5% {
			opacity: 1;
		}
		100% {
			transform: translateX(5px);
		}
	}
}
